body {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0px;
  padding:0px;
/*  max-width: 1000px;*/
  background-color:#fff;
}


table.paramslist{
	border-collapse:collapse;
	border-spacing:0px;
	width:100%;
}
table.paramslist tr td{
	border:1px solid #ccc;
	padding: 5px;	
}

.scope
{
}

.header
{
    background-color:#eaeaea;
    color:#5f5f5f;
    padding:10px;
}

.afterheader
{
	background-color:#ffffff;
	padding:15px;
}

h1
{
    margin:5px;
}

.drivemodel, .date
{
}

.scope .nav
{
    padding-bottom:25px;
    padding-top:20px;
}

.nav
{
    padding-bottom:10px;
    padding-top:0px;
}


.log
{
    color:#383838;
}

a
{
    padding:5px 10px 5px 10px;
    margin-right:10px;
    color:#000000;
    background-color:#eaeaea;
    border-radius:4px;
    text-decoration: none;
}

a:hover
{
    color:#ffffff;
    background-color:#4e84ce;
}

.log .logdate
{
    padding-bottom:5px;
    color:#525252;
}


.log .main div
{
    padding-bottom:.05em;
    padding-top:0.04em;
}

.log .main .task {
    padding-top:.8em;
    padding-bottom:.4em;
    font-size:120%;
    font-weight:bold;
}

.log .error {
    color:#d43535;
}

.log .finish {
    color:#83a560;
}



/* old with dark theme for log

body {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0px;
  padding:0px;
  max-width: 1000px;
  background-color:#444;
}

.scopebody {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0px;
  padding:0px;
  max-width: 1000px;
  background-color:#fff;
}
table.paramslist{
	border-collapse:collapse;
	border-spacing:0px;
	width:100%;
}
table.paramslist tr td{
	border:1px solid #ccc;
	padding: 5px;	
}

.scope
{
}

.scope .header
{
    background-color:#eaeaea;
    color:#5f5f5f;
    padding:10px;
}

.scope .afterheader
{
	background-color:#ffffff;
	padding:15px;
}
.scope h1
{
    margin:5px;
}

.drivemodel, .date
{
}

.scope .nav
{
    padding-bottom:25px;
    padding-top:20px;
}


.log
{
    color:#eee;
}

a
{
    padding:5px 10px 5px 10px;
    margin-right:10px;
    color:#efefef;
    background-color:#6d6d6d;
    border-radius:4px;
    text-decoration: none;
}

a:hover
{
    color:#ffffff;
    background-color:#a9a9a9;
}

.log .logdate
{
    padding-bottom:5px;
    color:#9a9a9a;
}


.log .nav
{
    padding:10px;
    padding-bottom:10px;
}

.log .main
{
    padding:10px;
    padding-top:0px;
}

.log .main div
{
    padding-bottom:.05em;
    padding-top:0.04em;
}

.log .main .task {
    padding-top:.8em;
    padding-bottom:.4em;
    font-size:120%;
    font-weight:bold;
}

.log .error {
    color:#f7c5c5;
}

.log .finish {
    color:#d2dec5;
}

.log .header
{
    background-color:#333333;
    color:#909090;
    padding:10px;
}

.log h1
{
    margin:0px;
}
*/
